<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %> would like to delete a location called <%= @location.name %></h1>
    <h3> you can reach them at <%= @user.email %></h3>
    <p>The reason is <%= @reason%></p>
  </body>
</html>