<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.username %>!</h1>
      <p>Thanks for joining and have a great day! Now sign in and do
awesome things!</p>
     <h3>But first here's how to use the site. </h3> 
        <p>You can search for locations with the handy little search bar above the map and review anywhere youve been, you can even upload a photo of your time there!</p>
  <hr>
    <h3>Editing and deleteing</h3>
      <p> If you want to edit a locations details or delete a location for whatever reason you can do so with the edit and delete buttons but the  changes need to be approved by the administrator (just to make sure the changes are family friendly and accurate) please note this also sends your email address over to the admin so they can get in touch with you should the need arise.</p>
  <hr>
    <h3>Language</h3>
      <p>Given this is a family site profanity wil not be tolerated in any volume and may result in your account being deleted</p>
  <hr>
    <h3>Conclusion</h3>
      <p>Now with all that out of the way we hope you enjoy your time and get Off The Leash soon!</p>
  </body>
</html>